/.quarto/
/_site/
/_freeze/
/site_libs/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*~

# R
.Rproj.user/
.Rhistory
.RData
.Renviron
*.Rproj

**/*.quarto_ipynb
*.local.md

TODO.md
_old/
